[submodule "themes/hallo"]
	path = themes/hallo
	url = https://github.com/EmielH/hallo-hugo.git
[submodule "themes/stip"]
	path = themes/stip
	url = https://github.com/EmielH/stip-hugo.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
